[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/leshill/vim-json.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-ruby-runner"]
	path = vim/bundle/vim-ruby-runner
	url = git://github.com/henrik/vim-ruby-runner.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
    url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/pyflakes-vim"]
	path = vim/bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "vim/bundle/pyflakes"]
	path = vim/bundle/pyflakes
	url = https://github.com/kevinw/pyflakes.git
[submodule "vim/bundle/pep8"]
	path = vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "vim/bundle/tasklist"]
	path = vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
